
<section class="content-header"></section>
<section class="content">
    <div class="box">
        <form class="form-horizontal" novalidate name="frmImportProduct" role="form" ng-submit="ImportProduct()">
            <div class="box-header with-border">
                <div class="row">
                    <div class="col-md-12">
                        <div class="tabbable">
                            <div class="row">
                                <div class="col-md-7 col-xs-4"></div>

                                <div class="col-md-5 col-xs-8">
                                    <div class="col-md-4 col-xs-4">
                                        <button ng-disabled="frmImportProduct.$invalid" class="btn btn-block btn-primary btn-flat" type="submit">
                                            <i class="fa fa-save"></i> <span class="infoSpan">Import</span>
                                        </button>
                                    </div>
                                    <div class="col-md-4 col-xs-4">
                                        <button  ng-click="DownloadTemplate()" class="btn btn-block btn-success btn-flat" type="button">
                                            <i class="fa fa-download"></i> <span class="infoSpan">Tải file mẫu</span>
                                        </button>
                                    </div>
                                    <div class="col-md-4 col-xs-4">
                                        <button ui-sref="products" class="btn btn-block btn-default btn-flat" type="button">
                                            <i class="fa fa-arrow-circle-o-left"></i> <span class="infoSpan">Hủy</span>
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-content">
                                <div class="tab-pane active">
                                    <div class="clear"></div>
                                    <div class="row" style="padding:5px">
                                        <div class="class-div col-md-3">
                                            <span style="text-decoration:underline" class="class-required">Lưu ý:</span>
                                            <p style="font-style:italic">- Hệ thống import theo danh mục, thể loại</p>
                                            <p style="font-style:italic">- Hệ thống cho phép import tối đa 500 sản phẩm</p>
                                        </div>
                                        <div class="col-md-9">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label"> Danh mục <span class="class-required">*</span></label>
                                                    <select ng-model="categoryID" class="class-width form-control" ng-required=true ng-change="funChangeCategory()"
                                                            ng-options="item.CategoryID as item.CategoryName for item in listCategories">
                                                        <option value="">[Danh mục]</option>
                                                    </select>
                                                    <!--<span ng-show="frmImportProduct.categoryID.$invalid" class="has-error">Vui lòng chọn danh mục</span>-->
                                                    <input type="hidden" name="categoryID" ng-model="categoryID" />
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label">Thể loại <span class="class-required">*</span></label>
                                                    <div style="display:flex" class="class-width">
                                                        <select ng-required=true class="form-control"
                                                                ng-model="productCategoryID"
                                                                ng-options="option.ProductCategoryID as option.ProductCategoryName for option in listPCategories">
                                                            <option value="">[Thể loại]</option>
                                                        </select>
                                                        <!--<span ng-show="frmImportProduct.productCategoryID.$invalid" class="has-error">Vui lòng chọn thể loại</span>-->
                                                        <input type="hidden" name="productCategoryID" ng-model="productCategoryID" />
                                           
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="control-label">Chọn file excel <span class="class-required">*</span></label>
                                                    <div class="input-file" name="Fichier1">
                                                        <input file-upload name="file" ng-required=true type="file" class="class-width-2 form-control" placeholder='Chưa có file được chọn' />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>

<!-- Pupop Massage error-->
<button data-toggle="modal" name="btnShowError" data-target="#myModalError" type="button" hidden></button>
<div class="modal fade" id="myModalError" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Danh sách lỗi</h4>
            </div>

            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="table-responsive" style="max-height: 400px;">
                            <table class="table table-bordered">
                                <thead class="thead-inverse">
                                    <tr style="font-style:normal" class="bg-primary">
                                        <th style="width:5%;">
                                            <span>STT</span>
                                        </th>
                                        <th style="width:20%;">
                                            <span>Mã sản phẩm</span>
                                        </th>
                                        <th style="width:30%;">Sản phẩm</th>
                                        <th style="width:45%;">Mô tả lỗi</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in listErrores">
                                        <td>{{$index + 1 }}</td>
                                        <td>{{item.ProductCode}}</td>
                                        <td>{{item.ProductName}}</td>
                                        <td>{{item.Description}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-md-4 col-xs-4">
                </div>
                <div class="col-md-4 col-xs-4" style="text-align:center">
                    <button type="button" id="btnCloseProducer" class="btn btn-default btn-flat" data-dismiss="modal">
                        <i class="fa fa-close"></i> Đóng
                    </button>
                </div>
                <div class="col-md-4 col-xs-2">
                </div>
            </div>
        </div>
    </div>
</div>
<!--//Popup Message error -->