
<section class="content-header">
    <div class="content-header-custom">
        <label class="label-for">Sản phẩm</label>
        <div class="pull-right">
            <a ng-click="onClickAddProduct()" class="btn btn-primary btn-flat">
                <i class="fa fa-plus"></i><span class="infoSpan"> Thêm mới</span>
            </a>
            <a class="btn btn-primary btn-flat dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-duplicate"></i><span class="infoSpan"> Excel </span><span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
            </a>
            <ul class="dropdown-menu dropdown-excel" role="menu">
                <li>
                    <a ui-sref="productImport">
                        <i class="fa fa-upload"></i><span class="infoSpan">Nhập Excel</span>
                    </a>
                </li>
                <li><a ng-click="ExportProduct()"><i class="fa fa-download"></i><span class="infoSpan">Xuất Excel</span> </a></li>
            </ul>
            <a id="btnDeleteMulti" ng-show="selectDelete" class="btn btn-danger btn-flat btn-flat" ng-click="deleteMulti()">
                <i class="fa fa-trash"></i><span class="infoSpan"> Xóa</span>
            </a>
           
        </div>
       
    </div>
</section>

<section class="content-custom">
    <div class="row">
            <div class="box col-md-12">
                <div class="box-header">
                    <div class="frmSearch">
                        <input type="text" class="inputSearch form-control" ng-model="keyWord" placeholder="Nhập mã hoặc tên sản phẩm để tìm kiếm">
                        <div class="clearfixCustom"></div>

                        <select class="selectCategory form-control" ng-model="listCategories.CategoryID"
                                ng-change="funChangeCategory()"
                                ng-options="option.CategoryID as option.CategoryName for option in listCategories">
                            <option value="" selected="selected">[Danh mục]</option>
                        </select>
                        <div class="clearfixCustom"></div>

                        <select class="selectCategory form-control" ng-model="productCategoryID"
                                 ng-change="onChangePCategory()"
                                ng-options="option.ProductCategoryID as option.ProductCategoryName for option in listPCategories">
                            <option value="">[Thể loại]</option>
                        </select>
                        <div class="clearfixCustom"></div>

                        <select name="statusID" class="selectStatus form-control" ng-model="listStatus.StatusID" ng-change="onChangeStatus()"
                                ng-options="option.StatusID as option.StatusName for option in listStatus">
                            <option value="">[Trạng thái]</option>
                        </select>
                        <div class="clearfixCustom"></div>

                        <button class="btnSearch btn btn-block btn-default btn-flat" type="button" ng-click="onSearch()">
                            <i class="fa fa-search"></i> <span class="infoSpan">Tìm kiếm</span>
                        </button>
                    </div>                
                </div>
                <div class="box-body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover">
                            <thead class="thead-inverse">
                                <tr style="font-style:normal" class="bg-primary">
                                    <th style="">
                                        <input type="checkbox" name="all" ng-model="checkall" ng-click="selectAll()" />
                                    </th>
                                    <th style="">
                                        <span>STT</span>
                                    </th>
                                    <th>
                                        <span>Sản phẩm</span>
                                    </th>
                                    <th>
                                        <span>Mã sản phẩm</span>
                                    </th>
                                    <th>
                                        <span>SL</span>
                                    </th>
                                    <th>
                                        <span>Giá bán</span>
                                    </th>
                                    <th>
                                        <!--ng-click="sortData('CategoryName')"-->
                                        <span>Thể loại</span> <!--<div ng-class="getSortClass('CategoryName')"></div>-->
                                    </th>
                                    <th><span>Nhà sản xuất</span></th>
                                    <th width="3%"><span>Hình</span></th>
                                    <th width="10%">Thao tác</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in lstProduct | orderBy:sortColumn:reverse">
                                    <td style="text-align:center;">
                                        <input type="checkbox" ng-if="item.Status == true" name="all" ng-model="item.checked" />
                                    </td>
                                    <td style="text-align:center;">
                                        {{ $index + 1 }}
                                    </td>
                                    <td>
                                        <div ng-hide="item.Status == false">
                                            <div ng-hide="editProduct[item.ProductID]">
                                                <a ui-sref="productEdit({productID:item.ProductID})" ng-style="item.Status == false && {'color':'red'}">
                                                    {{ item.ProductName}}
                                                </a>
                                            </div>
                                        </div>                                       

                                        <div ng-hide="item.Status == true">
                                            <a ng-style="item.Status == false && {'color':'red'}">
                                                {{ item.ProductName}}
                                            </a>
                                        </div>

                                        <div ng-show="editProduct[item.ProductID]">
                                            <input type="text" name="txtProductName_{{item.ProductID}}" class="form-control"
                                                   ng-model="item.ProductName" maxlength="100" />
                                        </div>
                                    </td>
                                    <td style="text-align:center;">
                                       <span ng-style="item.Status == false && {'color':'red'}">{{ item.ProductCode}}</span> 
                                    </td>
                                    <td style="text-align:center;">
                                        <span ng-style="item.Status == false && {'color':'red'}">{{ item.Quantity}}</span> 
                                    </td>
                                    <td style="text-align:right">
                                        <div ng-hide="editProduct[item.ProductID]">
                                            <span ng-style="item.Status == false && {'color':'red'}">{{ item.PriceSell | number:0}}</span>                                           
                                        </div>
                                        <div ng-show="editProduct[item.ProductID]">
                                            <input type="text" name="txtPriceSell_{{item.ProducerID}}" class="inputPrice form-control"
                                                   ui-number-mask="0" maxlength="23" ng-model="item.PriceSell" />
                                        </div>
                                    </td>

                                    <td style="text-align:center;">                                 
                                        <span ng-style="item.Status == false && {'color':'red'}">{{ item.ProductCategoryName }}</span> 
                                    </td>
                                    <td>
                                        <span ng-style="item.Status == false && {'color':'red'}">{{item.ProducerName}}</span>                                       
                                    </td>
                                    <td>
                                        <div title="Xem hình ảnh" style="border-radius:50%; border:1px solid #b1a1a1; cursor:pointer" ng-click="onShowMoreImages(item)">
                                            <img src="{{item.Avatar}}" width="10" height="10" />
                                        </div>
                                    </td>
                                    <td>
                                        <div style="display:flex">
                                            <div ng-hide="item.Status == false">
                                                <a style="font-size:16px" title="Cập nhật tên và giá" ng-hide="editProduct[item.ProductID]" ng-click="fnModifyProduct(item)">
                                                    <i class="fa fa-edit"></i>
                                                </a>
                                            </div>
                                            <div style="margin-left:2px" ng-hide="item.Status == false">
                                                <a style="font-size:16px" title="Lưu" ng-show="editProduct[item.ProductID]" ng-click="fnUpdateProduct(item)">
                                                    <i class="fa fa-save"></i>
                                                </a>
                                            </div>
                                            <div style="margin-left:2px">
                                                <a style="font-size:16px" title="Hủy" ng-show="editProduct[item.ProductID]" ng-click="fnCancelProduct(item)">
                                                    <i class="fa fa-undo"></i>
                                                </a>
                                            </div>
                                            <div style="margin-left:2px" ng-hide="item.Status == false">
                                                <a style="color:deeppink;font-size:16px" title="Ngừng kinh doanh" ng-hide="editProduct[item.ProductID]" ng-click="fnStopProduct(item)">
                                                    <i class="fa fa-pause"></i>
                                                </a>
                                            </div>
                                            <div style="margin-left:4px">
                                                <a style="color:red;font-size:16px" title="Xóa hẳn sản phẩm" ng-hide="editProduct[item.ProductID]" ng-click="fnDeleteProduct(item)">
                                                    <i class="fa fa-trash"></i>
                                                </a>
                                            </div> 
                                        </div>
                                      
                                    </td>
                                    <!--<td style="text-align:center;font-style:normal">
                                        <span ng-class="{'label label-success': item.Status == true, 'label label-danger': item.Status == false}">
                                            {{ item.Status | statusFilter}}
                                        </span>
                                    </td>-->
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="box-footer clearfix">
                    <div style="display:flex">
                        <pager-directive page="{{page}}" custom-path="{{customPath}}" pages-count="{{pagesCount}}" total-count="{{totalCount}}" search-func="ListProduct(page)"></pager-directive>
                        <div class="clearfixCustom"></div>
                        <select style="width:auto; height:30px" class="form-control" ng-change="changeShow()" ng-model="valueShow" ng-options="option.value as option.name for option in options"></select>
                    </div>
                </div>
            </div>
    </div>
</section>

<!--Import Excel-->
<div class="modal fade" id="importExcel" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Import từ Excel</h4>
            </div>

            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="tabbable">
                                <form class="form-horizontal" novalidate name="frmImportPRoduct" role="form" ng-submit="ImportProduct()">
                                    <label>Chọn file Excel</label>
                                    <div class="form-group">
                                        <div class="input-group input-file" name="Fichier1">
                                            <input file-upload name="file" required type="file" class="form-control" placeholder='Chưa có file được chọn' />
                                            <span class="input-group-btn">
                                                <button ng-disabled="frmImportPRoduct.$invalid" class="btn btn-primary btn-reset" type="submit">Import</button>
                                            </span>
                                        </div>
                                    </div>
                                </form>
                                <!--<div>
                                   Tải file mẫu: <a id="templateImport" ng-click="downloadTemplate()" style="cursor:pointer"> [Bấm vào đây]</a>
                                </div>-->

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-md-4 col-xs-4">
                </div>
                <div class="col-md-4 col-xs-4" style="text-align:center">
                    <button type="button" id="btnCloseImportExcel" class="btn btn-default btn-flat" data-dismiss="modal">
                        <i class="fa fa-close"></i> Đóng
                    </button>
                </div>
                <div class="col-md-4 col-xs-2">
                </div>
            </div>
        </div>
    </div>
</div>
<!--// Import Excel-->

<button  data-toggle="modal" name="btnshowImages" data-target="#myModalImages" type="button" hidden></button>
<!--Form manager Images-->
<div class="modal fade" id="myModalImages" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="container">
                <h2>Carousel Example</h2>
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <img src="la.jpg" alt="Los Angeles" style="width:100%;">
                        </div>

                        <div class="item">
                            <img src="chicago.jpg" alt="Chicago" style="width:100%;">
                        </div>

                        <div class="item">
                            <img src="ny.jpg" alt="New york" style="width:100%;">
                        </div>
                    </div>

                    <!-- Left and right controls -->
                    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
          
           
        </div>
    </div>
</div>
<!--//Form manager Images-->
