
<section class="content-header"></section>
<section class="content">
    <div class="box">
        <div class="box-header with-border">
            <div class="row">
                <div class="col-md-12">
                    <div class="tabbable">
                        <ul class="nav tab-group">
                            <li class="active">
                                <a href="#about" data-toggle="tab">
                                    <i class="fa fa-barcode"></i> <span class="infoSpan">Thông tin sản phẩm</span>
                                </a>
                            </li>
                            <li>
                                <a href="#social" data-toggle="tab">
                                    <i class="fa fa-globe"></i> <span class="infoSpan">Thông tin cho Web</span>
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="about">
                                <div class="clear"></div>
                                <div class="row" style="padding:5px">
                                    <div class="class-div col-md-3">
                                        THông tin sản phẩm
                                    </div>
                                    <div class="col-md-9">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <span class="control-label"> Tên sản phẩm *</span>
                                                <input type="text" class="class-width-2 form-control" />
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <span class="control-label"> Mã sản phẩm <span style="font-style:italic"> (Tối đa 20 ký tự)</span></span>
                                                <input type="text" class="class-width form-control" />
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <span class="control-label"> Số lượng</span>
                                                <input type="text" class="class-width form-control" />
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <span class="control-label"> Giá vốn</span>
                                                <input type="text" class="class-width form-control" />
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <span class="control-label"> Giá bán</span>
                                                <input type="text" class="class-width form-control" />
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <span class="control-label"> Thể loại</span>
                                                <input type="text" class="class-width form-control" />
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <span class="control-label"> Nhà sản xuất</span>
                                                <input type="text" class="class-width form-control" />
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <span class="control-label"> Thế VAT</span>
                                                <input type="text" class="class-width form-control" />
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <span class="control-label"> Thời gian bảo hành <span style="font-style:italic"> (Tháng)</span></span>
                                                <input type="text" class="class-width form-control" />
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="social">
                                <div class="clear"></div>
                                <div class="row" style="padding:5px">
                                    <div class="class-div col-md-3">
                                        Mô tả chi tiết
                                    </div>
                                    <div class="col-md-9">
                                       
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group col-md-3">
                                                    <input type="checkbox" />
                                                    <span class="control-label">Hiển thị ra website</span>
                                                </div>
                                                <div class="form-group col-md-2">
                                                    <input type="checkbox" />
                                                    <span class="control-label">Nổi bật</span>
                                                </div>
                                                <div class="form-group col-md-2">
                                                    <input type="checkbox" />
                                                    <span class="control-label">Hàng mới</span>
                                                </div>
                                                <div class="form-group col-md-3">
                                                    <input type="checkbox" />
                                                    <span class="control-label">Hàng bán chạy</span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="col-md-12">
                                                <div class="form-group" ng-click="ChooseImage()" style="border:1px solid rgba(199, 199, 199, 0.92); cursor:pointer; background-color:rgba(220, 220, 220, 0.57)">
                                                    <h3 style="text-align:center"> Upload hình ảnh sản phẩm</h3>
                                                    <div style="text-align:center; color:rgba(71, 116, 199, 0.67)">
                                                        <i class="fa fa-picture-o fa-5x"></i>
                                                    </div>
                                                </div>
                                            </div>
                                               
                                        </div>
                  
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <span class="control-label">Mô tả sản phẩm</span>
                                                <span style="font-style:italic"> (Nhập thông tin mô tả chi tiết hơn để khách hàng hiểu hàng hoá của bạn)</span>
                                                <textarea style="height:200px" type="text" class="class-width form-control"></textarea>
                                            </div>
                                        </div>
                                        
                                    </div>

                                    <div class="class-div col-md-3">
                                       <h4>Thông tin cho SEO</h4>
                                        <span> Tối ưu SEO trên website.</span>                                      
                                    </div>
                                    <div class="col-md-9">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <span class="control-label"> URL</span>
                                                <input type="text" class="class-width form-control" />
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <span class="control-label"> Thông tin mô tả</span>
                                                <input type="text" class="class-width form-control" />
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <span class="control-label"> Tags</span>
                                                <input type="text" class="class-width form-control" />
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




