
<section class="content-header">
    <h1>Cập nhật</h1>
</section>

<section class="content">
    <div class="row" ng-init="pcEditInfo={}">
        <form class="form-horizontal" novalidate name="frmUpdatePC" role="form" ng-submit="UpdateProductCategory()">
            <div class="col-md-12">
                <div class="box box-info">
                    <div class="box-header with-border">
                        <div class="col-md-6">
                            <h3 class="box-title">Thông tin Thể loại</h3>
                        </div>
                        <div class="col-md-6 pull-right">
                            <div class="col-md-3  pull-right">
                                <button type="button" ui-sref="productCategories" class="btn btn-default btn-flat"><i class="fa fa-undo"></i>  Quay lại</button>
                            </div>
                            <div class="col-md-3  pull-right">
                                <button type="submit" ng-disabled="frmUpdatePC.$invalid" class="btn btn-primary btn-flat pull-right">
                                    <i class="fa fa-save"></i> Lưu
                                </button>
                            </div>

                        </div>
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        </div>
                    </div><!-- /.box-header -->
                    <!-- form start -->
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group"
                                     ng-class="{'has-error': frmUpdatePC.productCategory.$invalid && !frmUpdatePC.productCategory.$pristine }">
                                    <span style="font-size:14px" class="col-sm-3 control-label">Tên thể loại <span style="color:red">*</span> </span>
                                    <div class="col-sm-9">
                                        <input ng-required="true" ng-model="pcEditInfo.ProductCategoryName" ng-change="GetSEOTitle()"
                                               type="text" name="productCategory" class="form-control" placeholder="Thể loại" maxlength="100">
                                        <span class="has-error" ng-show="frmUpdatePC.productCategory.$touched && frmUpdatePC.productCategory.$error.required">
                                            Vui lòng nhập tên thể loại!
                                        </span>
                                    </div>
                                </div>

                                <div class="form-group"
                                     ng-class="{'has-error': frmUpdatePC.categoryID.$invalid && !frmUpdatePC.categoryID.$pristine }">
                                    <span style="font-size:14px" class="col-sm-3 control-label">Danh mục *</span>
                                    <div class="col-sm-9">
                                        <select class="form-control" name="categoryID" ng-model="pcEditInfo.CategoryID"
                                                ng-options="ca.CategoryID as ca.CategoryName for ca in categories"></select>
                                        <span class="has-error" ng-show="frmUpdatePC.categoryID.$touched && frmUpdatePC.categoryID.$error.required">
                                            Vui lòng chọn danh mục!
                                        </span>

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <span style="font-size:14px" class="col-sm-3 control-label">Thứ tự</span>
                                    <div class="col-sm-9">
                                        <input maxlength="3" name="order" id="order" min="1" ng-model="pcEditInfo.ProductCategoryDisplayOrder"
                                               type="text" class="form-control" placeholder="Thứ tự sắp xếp">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-footer">
                    </div>
                </div>
            </div>           
        </form>
    </div>
</section>


