
<section class="content-header">
    <span style="font-size:14px">
        Lần cập nhật gần nhất:
        <span style="color: #ff6a00">{{strHour}}</span><span ng-show="showMsg"> ngày</span>
        <span style="color: #ff6a00">{{strDate}}</span><span ng-show="showMsg"> bởi</span>
        <span style="color: #ff6a00">{{strUser}}</span>
    </span>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header with-border">
                    <div class="col-md-3">
                        <input type="text" class="form-control" ng-model="keyWord" placeholder="Từ khóa...">
                    </div>
                    <div class="col-md-2">
                        <select name="categoryID" ng-required=true class="form-control"
                                ng-model="categories.CategoryID" ng-change="onChangeCategory()"
                                ng-options="option.CategoryID as option.CategoryName for option in categories">
                            <option value="">[Danh mục]</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <select name="statusID" class="form-control" ng-model="listStatus.StatusID" ng-change="onChangeStatus()"
                                ng-options="option.StatusID as option.StatusName for option in listStatus">
                            <option value="">[Trạng thái]</option>
                        </select>
                    </div>

                    <div class="row col-md-5">
                        <div class="col-md-4 col-xs-4">
                            <button class="btn btn-block btn-default btn-flat" type="button" ng-click="onSearch()">
                                <i class="fa fa-search"></i> <span class="infoSpan">Tìm kiếm</span>
                            </button>
                        </div>
                        <div class="col-md-4 col-xs-4">
                            <button data-toggle="modal" data-target="#modelProductCategory" class="btn btn-block btn-primary btn-flat" type="button">
                                <i class="fa fa-plus"></i> <span class="infoSpan">{{resData.LabelCreate}}</span>
                            </button>
                        </div>
                        <div class="col-md-4 col-xs-4">
                            <button ng-click="deleteMulti()" id="btnDeleteMulti" ng-show="selectDelete" class="btn btn-block btn-danger btn-flat" type="button">
                                <i class="fa fa-trash"></i> <span class="infoSpan">{{resData.LabelDelete}}</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="box-body">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead class="thead-inverse">
                                <tr style="font-style:normal" class="bg-primary">
                                    <th style="width:3%;">
                                        <input type="checkbox" name="all" ng-model="checkall" ng-click="selectAll()" />
                                    </th>
                                    <th style="width:5%;">
                                        <span>STT</span>
                                    </th>
                                    <th style="width:20%; cursor:pointer" ng-click="sortData('ProductCategoryName')">
                                        <span>Thể loại</span><div ng-class="getSortClass('ProductCategoryName')"></div>
                                    </th>
                                    <th style="width:10%; cursor:pointer" ng-click="sortData('CategoryName')">
                                        <span>Danh mục</span> <div ng-class="getSortClass('CategoryName')"></div>
                                    </th>
                                    <th style="width:15%;">
                                        <span>Trạng thái</span>
                                    </th>
                                    <th style="width:15%;">

                                    </th>

                                </tr>
                            </thead>
                            <tbody>
                                <!--<tr ng-repeat="item in lstProductCategory | orderBy:sortColumn:reverse">-->
                                <tr ng-repeat="item in lstProductCategory">
                                    <td style="text-align:center;">
                                        <input type="checkbox" ng-if="item.Status == true" name="all" ng-model="item.checked" />
                                    </td>
                                    <td style="text-align:center;">{{ $index + 1 }}</td>
                                    <td>
                                        <div ng-hide="editProductCategory[item.ProductCategoryID]">{{item.ProductCategoryName}}</div>
                                        <div ng-show="editProductCategory[item.ProductCategoryID]">
                                            <input type="text" name="txtName_{{item.ProductCategoryID}}" class="form-control" ng-model="item.ProductCategoryName" maxlength="100" />
                                        </div>

                                        <!--<a ui-sref="productCategoryEdit({categoryId:item.ProductCategoryID})" ng-style="item.Status == false && {'color':'red'}">
                                            {{ item.ProductCategoryName}}
                                            </a>-->

                                    </td>
                                    <td style="text-align:center;">
                                        <div ng-hide="editProductCategory[item.ProductCategoryID]">
                                            {{item.CategoryName}}
                                        </div>
                                        <div ng-show="editProductCategory[item.ProductCategoryID]">
                                            <select class="form-control" ng-model="item.CategoryID"
                                                    ng-options="ca.CategoryID as ca.CategoryName for ca in categories"></select>
                                        </div>
                                    </td>
                                    <td style="text-align:center;font-style:normal">
                                        <div ng-hide="editProductCategory[item.ProductCategoryID]">
                                            <span ng-class="{'label label-success': item.Status == true, 'label label-danger': item.Status == false}">
                                                {{ item.Status | statusFilter}}
                                            </span>
                                        </div>

                                        <div ng-show="editProductCategory[item.ProductCategoryID]">
                                            <select class="form-control" ng-model="item.IntStatusID"
                                                    ng-options="option.StatusID as option.StatusName for option in listStatus"></select>
                                        </div>
                                    </td>
                                    <td>
                                        <button title="Cập nhật" class="btn btn-primary btn-sm" ng-hide="editProductCategory[item.ProductCategoryID]" ng-click="fnModifyPC(item)">
                                            <i class="fa fa-edit"></i>
                                        </button>
                                        <button title="Xóa" class="btn btn-danger btn-sm" ng-hide="editProductCategory[item.ProductCategoryID]" ng-click="fnDeletePC(item)">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                        <button title="Lưu" class="btn btn-primary btn-sm" ng-show="editProductCategory[item.ProductCategoryID]" ng-click="fnUpdatePC(item)">
                                            <i class="fa fa-save"></i>
                                        </button>
                                        <button title="Hủy" class="btn btn-default btn-sm" ng-show="editProductCategory[item.ProductCategoryID]" ng-click="fnCancelPC(item)">
                                            <i class="fa fa-undo"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
                <div class="box-footer clearfix">
                    <div class="col-md-7">
                        <div class="col-md-3">
                            Hiện thị <select ng-change="changeShow()" ng-model="valueShow"
                                             ng-options="option.value as option.name for option in options"></select>
                        </div>
                        <!--<div class="col-md-9">
                                Hiển thị từ <strong> {{ showFrom }}</strong> - <strong>{{showTo}}</strong> của <strong>{{totalCount}}</strong> bản ghi
                        </div>-->
                    </div>
                    <pager-directive page="{{page}}" custom-path="{{customPath}}" pages-count="{{pagesCount}}" total-count="{{totalCount}}" search-func="ListProductCategory(page)"></pager-directive>
                </div>
            </div>
        </div>
    </div>
</section>

<!--Form create product category-->
<div class="modal fade" id="modelProductCategory" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Thêm mới thể loại</h4>
            </div>
            <form class="form-horizontal" novalidate name="frmAddPC" role="form" ng-submit="AddProductCategory()">
                <div class="modal-body">
                    <div class="container-fluid">

                        <div class="col-md-12">
                            <div class="form-group"
                                 ng-class="{'has-error': frmAddPC.productCategory.$invalid && !frmAddPC.productCategory.$pristine }">
                                <span style="font-size:14px" class="col-sm-3 control-label">Tên thể loại *</span>
                                <div class="col-sm-9">
                                    <input ng-required="true" ng-model="pcInfo.ProductCategoryName"
                                           type="text" name="productCategory" class="form-control" placeholder="Thể loại">
                                    <span class="has-error" ng-show="frmAddPC.productCategory.$touched && frmAddPC.productCategory.$error.required">
                                        Vui lòng nhập tên thể loại!
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <span style="font-size:14px" class="col-sm-3 control-label">Danh mục *</span>
                                <div class="col-sm-9">
                                    <div style="display:flex">
                                        <select name="categoryID" class="form-control"
                                                ng-model="pcInfo.CategoryID"
                                                ng-options="option.CategoryID as option.CategoryName for option in categories">
                                            <option value="">[Lựa chọn]</option>
                                        </select>
                                        <button title="Quản lý nhà sản xuất" data-toggle="modal" data-target="#modelCategory" style="width:15%" class="btn btn-block btn-primary btn-flat" type="button">
                                            ...
                                        </button>
                                    </div>                                   
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <div class="col-md-4 col-xs-2">                      
                    </div>
                    <div class="col-md-2 col-xs-4">
                        <button type="submit" ng-disabled="frmAddPC.$invalid" class="btn btn-primary btn-flat">
                            <i class="fa fa-save"></i> {{resData.btnSave}}
                        </button>
                    </div>
                    <div class="col-md-2 col-xs-4">
                        <button type="button" id="btnClosePC" class="btn btn-default btn-flat" data-dismiss="modal">
                            <i class="fa fa-close"></i> Đóng
                        </button>
                    </div>
                    <div class="col-md-4 col-xs-2">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!--Form create category-->
<div class="modal fade" id="modelCategory" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Quản lý danh mục</h4>
            </div>

            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="tabbable">
                                <ul class="nav tab-group">
                                    <li class="active">
                                        <a href="#about" data-toggle="tab">
                                            <i class="fa fa-list"></i> <span class="infoSpan">Danh sách</span>                                       
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#social" data-toggle="tab">
                                            <i class="fa fa-plus"></i> <span class="infoSpan">Thêm mới</span>          
                                        </a>
                                    </li>
                                </ul>
                                <hr style="margin-top:2px !important" />
                                <div class="tab-content" style="overflow-y: auto;max-height: 300px;">
                                    <div class="tab-pane active" id="about">
                                        <div class="table-responsive">
                                            <table class="table table-bordered">
                                                <thead class="thead-inverse">
                                                    <tr style="font-style:normal" class="bg-primary">
                                                        <th style="width:10%;">
                                                            <span>STT</span>
                                                        </th>
                                                        <th style="width:70%;">
                                                            <span>Danh mục</span>
                                                        </th>
                                                        <th style="width:20%;">
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="item in categories">
                                                        <td style="text-align:center;">{{ $index + 1 }}</td>
                                                        <td>
                                                            <div ng-hide="editingCaterogy[item.CategoryID]">{{item.CategoryName}}</div>
                                                            <div ng-show="editingCaterogy[item.CategoryID]">
                                                                <input type="text" name="txtNameCate_{{item.CategoryID}}" class="form-control"
                                                                       ng-model="item.CategoryName" maxlength="100" />
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <button title="Cập nhật" class="btn btn-primary btn-sm" ng-hide="editingCaterogy[item.CategoryID]" ng-click="fnModifyCategory(item)">
                                                                <i class="fa fa-edit"></i>
                                                            </button>
                                                            <button title="Xóa" class="btn btn-danger btn-sm" ng-hide="editingCaterogy[item.CategoryID]" ng-click="fnDeleteCategory(item)">
                                                                <i class="fa fa-trash"></i>
                                                            </button>
                                                            <button title="Lưu" class="btn btn-primary btn-sm" ng-show="editingCaterogy[item.CategoryID]" ng-click="fnUpdateCategory(item)">
                                                                <i class="fa fa-save"></i>
                                                            </button>
                                                            <button title="Hủy" class="btn btn-default btn-sm" ng-show="editingCaterogy[item.CategoryID]" ng-click="fnCancelCategory(item)">
                                                                <i class="fa fa-undo"></i>
                                                            </button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="social">
                                        <div ng-init="cateInfo={}">
                                            <form class="form-horizontal" novalidate name="frmAddCategory" role="form" ng-submit="AddCategory()">
                                                <div style="display:flex">
                                                    <input ng-required="true" id="txtCategoryName" ng-model="cateInfo.CategoryName"
                                                           type="text" name="categoryName" class="form-control" placeholder="Nhập tên danh mục">
                                                    <button ng-disabled="frmAddCategory.$invalid" ng-click="CreateCategory()" style="width:20%" class="btn btn-block btn-primary btn-flat" type="button">
                                                        <i class="fa fa-save"></i> Lưu
                                                    </button>
                                                </div>
                                            </form>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-md-4 col-xs-4">
                </div>
                <div class="col-md-4 col-xs-4" style="text-align:center">
                    <button type="button" id="btnCloseFormCate" class="btn btn-default btn-flat" data-dismiss="modal">
                        <i class="fa fa-close"></i> Đóng
                    </button>
                </div>
                <div class="col-md-4 col-xs-2">
                </div>
            </div>
        </div>
    </div>
</div>
