
.has-error, .has-error .control-label {
    color: red !important;
}

.inputPrice{
    text-align:right;
}

.table > thead:first-child > tr:first-child > th {
    border: 1px solid rgba(0, 0, 0, 0.12) !important;
    text-align: center;
}

.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
    border: 1px solid rgba(0, 0, 0, 0.12) !important;
}


.arrow-up {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 10px solid white;
    display: inline-block;
    margin-left:2px;
}

.arrow-down {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid white;
    display: inline-block;
    margin-left:2px;
}

.tab-group, 
.tab-group-vertical {
   position: relative;
   display: inline-block;
   vertical-align: middle;
   zoom: 1; /* Fix for IE7 */
   *display: inline; /* Fix for IE7 */
}

.tab-group > li, 
.tab-group-vertical > li {
    border: 1px solid #428bca;
    border-radius: 1px;
    position: relative;
    float: left;
}
.tab-group > li.active > a, 
.tab-group > li.active > a:hover, 
.tab-group > li.active > a:focus,
.tab-group-vertical > li.active > a, 
.tab-group-vertical > li.active > a:hover, 
.tab-group-vertical > li.active > a:focus {
    background-color: #428bca;
    color: #fff;
}
.tab-group > li > a,
.tab-group-vertical > li > a {
    border-radius: 0;
}
.tab-group > li > a:hover,
.tab-group-vertical > li > a:hover {
    border-radius: 1px;
}

.tab-group li + li {
    margin-left: -1px;
}

.tab-group > li:not(:first-child):not(:last-child),
.tab-group > li:not(:first-child):not(:last-child) > a:hover {
  border-radius: 0;
}
.tab-group > li:first-child,
.tab-group > li:first-child > a:hover {
    margin-left: 0;
}
.tab-group > li:first-child:not(:last-child),
.tab-group > li:first-child:not(:last-child) > a:hover {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.tab-group > li:last-child:not(:first-child),
.tab-group > li:last-child:not(:first-child) > a:hover {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.tab-group-vertical > li {
    display: block;
    float: none;
    width: 100%;
    max-width: 100%;
    text-align:center;
}
.tab-group-vertical > li + li {
    margin-top: -1px;
    margin-left: 0px;
}

.tab-group-vertical > li:not(:first-child):not(:last-child),
.tab-group-vertical > li:not(:first-child):not(:last-child) > a:hover {
  border-radius: 0;
}
.tab-group-vertical > li:first-child:not(:last-child),
.tab-group-vertical > li:first-child:not(:last-child) > a:hover {
  border-top-right-radius: 1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.tab-group-vertical > li:last-child:not(:first-child),
.tab-group-vertical > li:last-child:not(:first-child) > a:hover {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 1px;
}

@media (max-width: 768px) {
  .infoSpan, .class-div {
   display:none;
  }

  .class-width, .class-width-2 {
   width:100%;
  }
}

@media (min-width: 768px) {
  .class-width {
   width:97%;
  }
   .class-width-2 {
   width:98.5%;
  }
}



.img__wrap {
  position: relative;
  /*height: 200px;
  width: 257px;*/
}

.img__description {
  position: absolute;
  top: 8%;
  /*bottom: 0;*/
  /*left: 0;*/
  right: 6%;
  background: rgba(29, 106, 154, 0.72);
  color: #fff;
  visibility: hidden;
  opacity: 0;

  /* transition effect. not necessary */
  transition: opacity .2s, visibility .2s;
}

.img__wrap:hover .img__description {
  visibility: visible;
  opacity: 1;
}















@keyframes orbit {
    0% {
        opacity: 1;
        z-index: 99;
        transform: rotate(180deg);
        animation-timing-function: ease-out;
    }

    7% {
        opacity: 1;
        transform: rotate(300deg);
        animation-timing-function: linear;
        origin: 0%;
    }

    30% {
        opacity: 1;
        transform: rotate(410deg);
        animation-timing-function: ease-in-out;
        origin: 7%;
    }

    39% {
        opacity: 1;
        transform: rotate(645deg);
        animation-timing-function: linear;
        origin: 30%;
    }

    70% {
        opacity: 1;
        transform: rotate(770deg);
        animation-timing-function: ease-out;
        origin: 39%;
    }

    75% {
        opacity: 1;
        transform: rotate(900deg);
        animation-timing-function: ease-out;
        origin: 70%;
    }

    76% {
        opacity: 0;
        transform: rotate(900deg);
    }

    100% {
        opacity: 0;
        transform: rotate(900deg);
    }
}

@-o-keyframes orbit {
    0% {
        opacity: 1;
        z-index: 99;
        -o-transform: rotate(180deg);
        -o-animation-timing-function: ease-out;
    }

    7% {
        opacity: 1;
        -o-transform: rotate(300deg);
        -o-animation-timing-function: linear;
        -o-origin: 0%;
    }

    30% {
        opacity: 1;
        -o-transform: rotate(410deg);
        -o-animation-timing-function: ease-in-out;
        -o-origin: 7%;
    }

    39% {
        opacity: 1;
        -o-transform: rotate(645deg);
        -o-animation-timing-function: linear;
        -o-origin: 30%;
    }

    70% {
        opacity: 1;
        -o-transform: rotate(770deg);
        -o-animation-timing-function: ease-out;
        -o-origin: 39%;
    }

    75% {
        opacity: 1;
        -o-transform: rotate(900deg);
        -o-animation-timing-function: ease-out;
        -o-origin: 70%;
    }

    76% {
        opacity: 0;
        -o-transform: rotate(900deg);
    }

    100% {
        opacity: 0;
        -o-transform: rotate(900deg);
    }
}

@-ms-keyframes orbit {
    0% {
        opacity: 1;
        z-index: 99;
        -ms-transform: rotate(180deg);
        -ms-animation-timing-function: ease-out;
    }

    7% {
        opacity: 1;
        -ms-transform: rotate(300deg);
        -ms-animation-timing-function: linear;
        -ms-origin: 0%;
    }

    30% {
        opacity: 1;
        -ms-transform: rotate(410deg);
        -ms-animation-timing-function: ease-in-out;
        -ms-origin: 7%;
    }

    39% {
        opacity: 1;
        -ms-transform: rotate(645deg);
        -ms-animation-timing-function: linear;
        -ms-origin: 30%;
    }

    70% {
        opacity: 1;
        -ms-transform: rotate(770deg);
        -ms-animation-timing-function: ease-out;
        -ms-origin: 39%;
    }

    75% {
        opacity: 1;
        -ms-transform: rotate(900deg);
        -ms-animation-timing-function: ease-out;
        -ms-origin: 70%;
    }

    76% {
        opacity: 0;
        -ms-transform: rotate(900deg);
    }

    100% {
        opacity: 0;
        -ms-transform: rotate(900deg);
    }
}

@-webkit-keyframes orbit {
    0% {
        opacity: 1;
        z-index: 99;
        -webkit-transform: rotate(180deg);
        -webkit-animation-timing-function: ease-out;
    }

    7% {
        opacity: 1;
        -webkit-transform: rotate(300deg);
        -webkit-animation-timing-function: linear;
        -webkit-origin: 0%;
    }

    30% {
        opacity: 1;
        -webkit-transform: rotate(410deg);
        -webkit-animation-timing-function: ease-in-out;
        -webkit-origin: 7%;
    }

    39% {
        opacity: 1;
        -webkit-transform: rotate(645deg);
        -webkit-animation-timing-function: linear;
        -webkit-origin: 30%;
    }

    70% {
        opacity: 1;
        -webkit-transform: rotate(770deg);
        -webkit-animation-timing-function: ease-out;
        -webkit-origin: 39%;
    }

    75% {
        opacity: 1;
        -webkit-transform: rotate(900deg);
        -webkit-animation-timing-function: ease-out;
        -webkit-origin: 70%;
    }

    76% {
        opacity: 0;
        -webkit-transform: rotate(900deg);
    }

    100% {
        opacity: 0;
        -webkit-transform: rotate(900deg);
    }
}

@-moz-keyframes orbit {
    0% {
        opacity: 1;
        z-index: 99;
        -moz-transform: rotate(180deg);
        -moz-animation-timing-function: ease-out;
    }

    7% {
        opacity: 1;
        -moz-transform: rotate(300deg);
        -moz-animation-timing-function: linear;
        -moz-origin: 0%;
    }

    30% {
        opacity: 1;
        -moz-transform: rotate(410deg);
        -moz-animation-timing-function: ease-in-out;
        -moz-origin: 7%;
    }

    39% {
        opacity: 1;
        -moz-transform: rotate(645deg);
        -moz-animation-timing-function: linear;
        -moz-origin: 30%;
    }

    70% {
        opacity: 1;
        -moz-transform: rotate(770deg);
        -moz-animation-timing-function: ease-out;
        -moz-origin: 39%;
    }

    75% {
        opacity: 1;
        -moz-transform: rotate(900deg);
        -moz-animation-timing-function: ease-out;
        -moz-origin: 70%;
    }

    76% {
        opacity: 0;
        -moz-transform: rotate(900deg);
    }

    100% {
        opacity: 0;
        -moz-transform: rotate(900deg);
    }
}



/*.dropdown-menu {
    overflow: auto !important;
}*/

.md-button {
    text-transform: none !important;
}

md-content {
    background-color: #f5f5f5 !important;
}

body > md-toolbar {
    z-index: 3;
}

md-toolbar.md-table-toolbar.alternate {
    color: #1e88e5;
    background-color: #e3f2fd;
}

    md-toolbar.md-table-toolbar.alternate .md-toolbar-tools {
        font-size: 16px;
    }

md-table-container {
    max-height: 300px;
}

table.clone thead tr:last-child th {
    border-bottom: 1px rgba(0, 0, 0, 0.12) solid;
}

table.clone + md-table-container table tbody tr:first-child td {
    border-top: none;
}


textarea {
    width: 100%;
    overflow-y: scroll;
}
